# Core dependencies
streamlit
streamlit-folium
geopandas
shapely
folium
fiona
pyproj
lxml
simplekml
pandas
numpy

# PDF generation
fpdf2

# HTTP / font downloader
requests

# Required dependencies for Streamlit Cloud stability
protobuf
pydeck
pyarrow
watchdog
gitpython

# New ADD
fpdf2
geopandas
folium
streamlit-folium
lxml
contextily
matplotlib
requests
pyproj
shapely
pillow
qrcode[pil]
PyGithub>=2.3.0
